# ZhiJin Project gitignore

## Inner Files
Code/Inner/*
Documents/Inner/*

## Projects Cache
Code/ZhiJinComplier/.vs
Code/ZhiJinVue/Env/node-v18.14.0-win-x64

## MacOS
*.DS_Store

## Prerequisites
*.d

## Compiled Object files
*.slo
*.lo
*.o
*.obj

## Precompiled Headers
*.gch
*.pch

## Compiled Dynamic libraries
*.so
*.dylib
*.dll

## Fortran module files
*.mod
*.smod

## Compiled Static libraries
*.lai
*.la
*.a
*.lib

## Executables
*.exe
*.out
*.app
